<div class="row">
	{{md-input value=searchQuery
		label="Search by last name..."
		icon="mdi-action-search"}}
</div>
<hr>
<div class="row">{{#link-to 'list.voter' 'WA000218347'}}click here{{/link-to}}</div>