<h3>Campaigns 
	{{#link-to 'campaigns.new'}}
	<a class="light-blue darken-3 waves-light waves-effect btn-floating"> 
		<i class="mdi-content-add left"></i>
	</a>
	{{/link-to}}
</h3>

{{#each campaign in model}}
  {{campaign}}
{{else}}
  You don't have any campaigns. Why not {{#link-to 'campaigns.new'}}create one{{/link-to}}?
{{/each}}