<h3>New Campaign</h3>

<div class="row">
  {{md-input label="Title" value=title class="col s12"}}
  {{md-textarea label='Description' value=description class="col s12"}}
  {{md-btn text='Large button'
    action='create'
    buttonType='large'
    class=''}}
</div>