<h3>Campaigns {{#link-to 'campaign-new'}}<small>Create Campain</small>{{/link-to}}</h3>

{{#each campaign in model}}
  campaign
{{else}}
  You don't have any campaigns. Why not {{#link-to 'campaign-new'}}create one{{/link-to}}?
{{/each}}