<div class="jumbotron">
  <div class="container">
    <h1>Signature Verification App</h1>
    <p>Keep track of signature on your petitions like never before!</p>
    <p>
      {{#bs-button type="default" icon="fa fa-sign-out" action="invalidateSession"}}Log Out{{/bs-button}}
    </p>
  </div>
</div>