<ol class="breadcrumb">
  <li>Dashboard</li>
</ol>

<div class="site-content--inset">
  <h3>Dashboard</h3>

  <p>Welcome to your signature verification dashboard. From here you can:</p>

  <p>{{#link-to 'campaigns' class="btn btn-primary"}}{{fa-icon "list-ul"}} Manage Your Campaigns{{/link-to}}</p>
</div>